[
    "2018-11-11-\u5a92\u4ecb\u73af\u5883\u5b66-\u6797\u6587\u521a.md", 
    "2018-10-30-bunge.md", 
    "2018-10-26-audrey hepburn.md", 
    "2018-05-23-shubenhua--bianlun-yishu.md", 
    "2018-01-20-einstein-world.md", 
    "2018-03-02-the-ambiguities-of-experience .md", 
    "2017-01-06-read-to-mogui-chumo.md", 
    "2016-09-26-read-to-chensilu-2.md", 
    "2017-09-24-read-to-yuguangzhong.md", 
    "2017-11-29-language-and-writer.md", 
    "2017-01-24-read-to-jin-dai-zhongguo-shiwujiang.md", 
    "2017-10-04-read-to-jinchuwuxiong.md", 
    "2017-04-25-read-to-li-zong-ren.md", 
    "2018-05-03-jiqirenpanluan.md", 
    "2017-08-19-read-to-kangxi.md", 
    "2017-03-10-read-to-jin-dai-zhongguo-xinchendaixie.md", 
    "2016-09-23-read-to-charles.md", 
    "2017-12-09-technology-philosophy-wuguosheng.md", 
    "2018-03-15-letter-to-tingguang.md", 
    "2017-11-27-read-to-internet.md", 
    "2018-02-16-wave-fiction.md", 
    "2017-08-17-read-to-max-weber.md", 
    "2017-03-23-read-to-su-hui-lian.md", 
    "2018-03-29-super-human-revolution.md", 
    "2017-12-21-digital-being.md", 
    "2016-08-31-read-to-peterlynch.md", 
    "2016-10-20-read-to-chan-weixiu.md"
]